# Automatically build the project and run any configured tests for every push
# and submitted pull request. This can help catch issues that only occur on
# certain platforms or Java versions, and provides a first line of defence
# against bad commits.

name: build
on: [ pull_request, push ]

jobs:
    build:
        strategy:
            matrix:
                module: [
                    "fabric-1.20.1",
                    "fabric-1.21.1",
                    "fabric-1.21.3",
                    "fabric-1.21.4",
                ]
        runs-on: ubuntu-latest
        steps:
            -   name: Checkout repository
                uses: actions/checkout@v4
            -   name: Setup JDK 21
                uses: actions/setup-java@v4
                with:
                    java-version: 21
                    distribution: 'temurin'
                    cache: 'gradle'
            -   name: Setup Rust
                uses: actions-rust-lang/setup-rust-toolchain@v1
                with:
                    target: 'i686-pc-windows-gnullvm, x86_64-pc-windows-gnullvm, aarch64-pc-windows-gnullvm, armv7-linux-androideabi, aarch64-linux-android, i686-linux-android, x86_64-linux-android'
            -   name: Setup Android SDK
                uses: android-actions/setup-android@v3
            -   name: Setup Android NDK
                uses: nttld/setup-ndk@v1
                with:
                    ndk-version: r27c
                    link-to-sdk: true
            -   name: Setup Gradle
                uses: gradle/actions/setup-gradle@v4
            -   name: Install cargo-ndk
                run: cargo install --force cargo-ndk
            -   name: Build
                run: |
                    wget -qO ~/llvm-mingw.tar.xz https://github.com/mstorsjo/llvm-mingw/releases/download/20241217/llvm-mingw-20241217-ucrt-ubuntu-20.04-x86_64.tar.xz
                    mkdir ~/.llvm-mingw
                    (cd ~/.llvm-mingw && tar --strip-components=1 -xJf ~/llvm-mingw.tar.xz)
                    export PATH="$HOME/.llvm-mingw/bin:$PATH"
                    ./gradlew :mod:${{ matrix.module }}:build --no-daemon
            -   name: Capture build artifacts
                uses: actions/upload-artifact@v4
                with:
                    name: ${{ matrix.module }}
                    path: mod/${{ matrix.module }}/build/libs/
